/* signup.css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#wrap {
    width: 700px;
    margin: 0 auto;
}

#pageTitle {
    text-align: center;
    padding: 30px 0;
}

.fd {
    padding: 15px;
    border-radius: 7px;
    font-size: 20px;
    margin-bottom: 50px;
}

.signupField {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    row-gap: 15px;
}

.inputField {
    display: flex;
    width: 100%;
    align-items: center;

}

.inputField label {
    width: 30%;
    padding: 0 20px;

}

.inputField input {
    width: 70%;
    padding: 10px;
    border-radius: 7px;
    font-size: 20px;
}

#userId {
    width: 40%;
}

#userPw,
#pwRe {
    width: 50%;
}

#tel {
    width: 40%;
}


/* 선택입력 style */

.interest {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.interest p {
    padding: 7px 20px;
}

.interest p input {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.jobList {
    display: flex;
    width: 100%;
    align-items: center;
    column-gap: 15px;
}

input[name=job] {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

#preview {
    width: 150px;
    height: 200px;
    border: 1px solid black;
    margin-top: 15px;
}

#signupButton {
    width: 100%;
    padding-bottom: 50px;
    text-align: center;
}

#signup {
    width: 500px;
    padding: 10px 0;
    border: 0;
    border-radius: 7px;
    font-size: 25px;
    background: #ffc251;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}